.image {
  /* border: 2px solid red; */
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: -2rem;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* object-fit: cover; */
}

.heading {
  color: black;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 3rem;
  font-size: 20px;
}
.icon {
  display: flex;
  /* border: 2px solid red; */
  margin: auto;
  display: inline-flex;
}
.btn {
  margin-top: 1rem;
}
.lefticon:hover {
  color: black;
  cursor: pointer;
  
}
.righticon:hover {
  color: black;
  cursor: pointer;
}
.details {
  /* border: 2px solid black; */
  /* padding: 2rem; */
  margin: auto;
  width: 60%;
}
.text {
  /* border: 2px solid green; */
  position: relative;
  /* top: -5rem; */
}
.btn:hover {
  cursor: pointer;
  background: grey;
}
.btn{
  margin-bottom: 1rem;
  width: 30%;
  height: 2rem;
}
.card {
  font-weight: 100;
  line-height: 29px;
  color: #222;
  font-size: 12px;
  font-family: sans-serif;
  background-color: #fafafa !important;
  border: 1px solid #ddd !important;
  text-align: center;
  position: relative;
  width: 30vw;
  height: 65vh !important;
  margin: auto;
  margin-top: 6rem;
  /* border: 2px solid red !important; */
}
.card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}